<!-- src/app/login/login.component.html -->
<!-- <div class="container">
    <h2>Connexion</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Adresse e-mail</label>
        <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="user.mail">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="user.mdp">
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Se connecter</button>
        <a class="btn btn-secondary" href="/register">S'inscrire</a>
      </div>
    </form>
  </div>
   -->

   <div class="container-fluid card login-container">
    <h3 class="text-center">Login</h3>
    <hr>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{msg}}</p>
    </div>
    <div class="mb-3">
      <label for="login" class="form-label">Email address</label>
      <input [(ngModel)]="authRequest.mail"  type="email" class="form-control" id="login" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input [(ngModel)]="authRequest.mdp" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="d-flex justify-content-between mb-3">
      <button (click)="login()" type="button" class="btn btn-primary">
        <em class="fas fa-sign-in-alt">&nbsp;Sign in</em>
      </button>
      <div>
        Don't have an account?&nbsp;
        <button (click)="register()" type="button" class="btn btn-link">
          Register
        </button>
      </div>
    </div>
  </div>