<!-- login.component.html -->
<div class="login-container">
  <mat-card class="login-card">
    <h3 class="text-center">Login</h3>
    <mat-divider></mat-divider>
    <div *ngIf="errorMsg.length">
      <mat-card *ngFor="let msg of errorMsg" class="error-card">
        <p>{{msg}}</p>
      </mat-card>
    </div>
    <div class="mb-3">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email address</mat-label>
        <input matInput [(ngModel)]="authRequest.mail" type="email" placeholder="name@example.com">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="authRequest.mdp" type="password" placeholder="Password">
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-between mb-3">
      <button mat-raised-button color="primary" (click)="login()">
        <mat-icon>login</mat-icon>&nbsp;Sign in
      </button>
      <div>
        Don't have an account?&nbsp;
        <button mat-button (click)="register()">
          Register
        </button>
      </div>
    </div>
  </mat-card>
</div>
