<!-- src/app/home/home.component.html -->
<div class="parallax-section">
    <div class="parallax-image" style="background-image: url('assets/sportif.jpg')">
        <div class="parallax-text">
            <h1>Notre Mission</h1>
            <p>Améliorer la santé et le bien-être grâce à la nutrition sportive.</p>
        </div>
    </div>
</div>

<div class="parallax-section">
    <div class="parallax-image" style="background-image: url('assets/legumes-halteres.jpg')">
        <div class="parallax-text">
            <h1>Nos Produits</h1>
            <p>Découvrez notre gamme de produits de nutrition de haute qualité.</p>
        </div>
    </div>
</div>

<div class="parallax-section">
    <div class="parallax-image" style="background-image: url('assets/mains-halteres.jpg')">
        <div class="parallax-text">
            <h1>Rejoignez-nous</h1>
            <p>
                Inscrivez-vous pour recevoir des conseils exclusifs et des offres
                spéciales.
            </p>
        </div>
    </div>
</div>